@model timeliste.Models.Prosjekt;
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Nytt Prosjekt</h2>

<div class="row">
    <div class="col-md-6">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProsjektNavn"></label>
                <input asp-for="ProsjektNavn" class="form-control" />
                <span asp-validation-for="ProsjektNavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KundeNavn">KundeNavn</label>
                <input asp-for="KundeNavn" class="form-control" />
                <span asp-validation-for="KundeNavn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Info">Info om prosjekt</label>
                <input asp-for="Info" class="form-control" />
                <span asp-validation-for="Info" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PeriodeLengde">Periode lengde</label>
                <input asp-for="PeriodeLengde" class="form-control" />
                <span asp-validation-for="PeriodeLengde" class="text-danger"></span>
            </div>
            <button id="Submit" type="submit" value="Save" class="btn btn-primary">Lagre</button>
        </form>
    </div>
</div>
