@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til timelistesystemet</h1>
    <p>Du må logge inn før du får tilgang til timelistesystemet.</p>
</div>
